exportPattern("^[[:alpha:]]+")
import(mombf)
import(speedglm)
import(horseshoe)
importFrom("stats", "cor", "na.omit", "lm", "rbeta", "rbinom", "rnorm", "poisson", "glm", "sd", "dnorm", "uniroot", "pnorm", "nlminb", "coef", "binomial", "residuals")
